---
import '@/styles/global.css';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import Footer from '@/components/Footer.astro';
import BubbleSection from '@/components/BubbleSection.astro';
import OpenerSection from '@/components/OpenerSection.astro';
import favicon from '@images/favicon.svg';
import CompressedMjVineYardColorPencilSketch from '@images/compressed/webP/compressed-mj-vineYard-ColorPencilSketch.webp';

import AboutMe from '@/components/AboutMe.astro';

---

<html lang="de">
	<head>
		<meta name="viewport" content="width=device-width" charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href={favicon.src} />
		<link rel="preload" as="image" href={CompressedMjVineYardColorPencilSketch.src} imagesrcset={CompressedMjVineYardColorPencilSketch.src} imagesizes="100vw">
		<title>Heyl-Weinerlebnistouren</title>
		<link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Caveat:wght@400..700&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Gloock&family=Indie+Flower&family=Lusitana:wght@400;700&family=Monsieur+La+Doulaise&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">
	</head>
	<body>
		<!-- <ScreenSizeDEVTOOL /> -->
		<Header isHome={true} />
		<main>
			<Hero />		
			<OpenerSection />
			<!-- <FirstInfoSection /> -->
			<BubbleSection />
			<!-- <Tours /> -->
			<!-- <ToursV2 /> -->
			<AboutMe />
			<!-- <InteractiveTours /> -->
			<!-- <InteractiveToursV2 /> -->
			<!-- <Region /> -->
			<!-- <GetInTouch /> -->
		</main>
		<Footer />
	</body>
</html>
