---
import Button from './Button.astro';
---
<!-- src/components/Tours.astro -->
<section id="tours" class="relative py-24 sm:py-32 bg-white overflow-hidden ">
  
  <div class="absolute  inset-0 z-0 pointer-events-none">
    <img src="/mj-grapes-mosaicGlass.png" alt="Vineyard background" class="w-full h-full object-cover object-[50%_5%] scale-110 opacity-10 saturate-[0.5]" />
    <div class="absolute inset-0 bg-gradient-to-t from-white via-white/80 to-transparent"></div>
    <div class="absolute w-full h-[100px] top-0 left-0 bg-gradient-to-b from-white via-white/80 to-transparent "></div>
  </div>
  
  <div class="relative z-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center md:hidden">
      <h2 class="text-4xl font-extrabold font-bonanova  sm:text-5xl
      bg-gray-900/90 text-transparent bg-clip-text">
      🍇
    </h2>
      <h2 class="mt-2 text-base font-semibold text-accent1 uppercase tracking-wider font-body">historische Orte & erlesener Wein </h2>
      <h2 class="-mt-1 text-5xl font-extrabold font-bonanova  sm:text-5xl
      bg-gray-900/90 text-transparent bg-clip-text leading-none">
      Entdecken Sie die <span class="text-6xl sm:text-5xl leading-none"> <br class="sm:hidden block"/>Pfalz</span> 
    </h2>
    <p class="mt-4 max-w-2xl mx-auto text-xl text-gray-500 font-body">
      Jede Tour ist ein einzigartiges Erlebnis, das die Schönheit der Region, ihre Geschichte und natürlich ihre exzellenten Weine in den Mittelpunkt stellt.
    </p>
    </div>
    </div>
  
    <div class="relative z-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center hidden md:block">
      <h2 class="text-base font-semibold text-accent1 uppercase tracking-wider font-body">historische Orte & erlesener Wein </h2>
      <h2 class="mt-2 text-4xl font-extrabold font-bonanova  sm:text-5xl
      bg-gray-900/90 text-transparent bg-clip-text">
      🍇 Entdecken Sie die <span class="text-6xl sm:text-5xl">Pfalz</span> 
    </h2>
    <p class="mt-4 max-w-2xl mx-auto text-xl text-gray-500 font-body">
      Jede Tour ist ein einzigartiges Erlebnis, das die Schönheit der Region, ihre Geschichte und natürlich ihre exzellenten Weine in den Mittelpunkt stellt.
    </p>
    </div>

    

    <div class="mt-20 grid gap-10 md:gap-12 lg:grid-cols-3 lg:gap-x-8 z-20 px-8 sm:px-12 md:px-0 max-w-2xl lg:max-w-none mx-auto">
      <!-- Tour Card 1 -->
      <div class="group relative bg-white rounded-2xl shadow-xl hover:shadow-2xl transition-all duration-300 transform hover:-translate-y-1">
        <div class="absolute inset-0 opacity-0 group-hover:opacity-100 rounded-t-2xl transition-opacity duration-300" style={{
          background: "url(https://www.toptal.com/designers/subtlepatterns/uploads/seamless_paper_texture.png)",
          backgroundSize: "45%",
          backgroundRepeat: "repeat",
          mixBlendMode: "difference",
        }}
        >
        </div>
        <div class="relative w-full h-72 rounded-t-2xl overflow-hidden">
          <img src="/mj-almondFlower-mosaicGlass.png" alt="Mandelblüte2" class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-full h-full
          object-cover opacity-100 group-hover:opacity-0 transition-opacity duration-300 object-[50%_36%]">
          <img src="/mj-almondFlowerV1.png" alt="Mandelblüte" class="w-full h-full object-cover opacity-0 group-hover:opacity-100 transition-all duration-300 object-[50%_50%]">
          <div class="absolute inset-0 bg-gradient-to-t from-black/50 group-hover:from-black/70 to-transparent rounded-t-2xl"></div>
        </div>
        <div class="p-6">
          <h3 class="text-2xl font-bold font-bonanova text-text">Mandelblüte, <br/> Meerspinne & Monarchen</h3>
          <p class="mt-3 text-base text-gray-600 font-body">Erleben Sie die Pfälzer Mandelblüte auf einer einzigartigen Route mit Genuss, Geschichte und Natur.</p>
        </div>
        <div class="flex justify-center items-end absolute bottom-0 left-0 w-full h-full ">
          <a href="/tours" class="inline-flex items-center px-8 py-2 translate-y-[50%]
            bg-gradient-to-r from-stone-200/80 via-stone-200 to-stone-200/70 text-stone-50
             hover:from-amber-600 hover:to-orange-600
             group-hover:from-amber-600 group-hover:to-orange-600
              font-semibold text-lg rounded-full shadow-lg
           transform hover:scale-105 transition-all duration-300">
            Zur Tour
            </a>
            <div class="absolute top-3 right-3 bg-stone-200/80 backdrop-blur-sm text-accent2-brick group-hover:bg-gray-900/70 group-hover:text-stone-100
             font-semibold text-sm py-1 px-3 rounded-full shadow-sm">
              Frühling 
            </div>
        </div>
      </div>

      <!-- Tour Card 2 -->
      <div class="group relative bg-white rounded-2xl shadow-xl hover:shadow-2xl transition-all duration-300 transform hover:-translate-y-1">
        <div class="absolute inset-0 opacity-0 group-hover:opacity-100 rounded-t-2xl transition-opacity duration-300" style={{
          background: "url(https://www.toptal.com/designers/subtlepatterns/uploads/seamless_paper_texture.png)",
          backgroundSize: "45%",
          backgroundRepeat: "repeat",
          mixBlendMode: "difference",
        }}
        >
        </div>
        <div class="relative w-full h-72 rounded-t-2xl overflow-hidden ">
          <img src="/mj-Bachus-mosaicGlass.png" alt="Bacchus" class="w-full h-full object-cover object-[50%_20%] group-hover:scale-105 transition-transform duration-300">
          <div class="absolute inset-0 bg-gradient-to-t from-black/50 group-hover:from-black/70 to-transparent rounded-t-2xl"></div>
        </div>
        <div class="p-6 ">
          <h3 class="text-2xl font-bold font-bonanova text-text">Von Bacchus bis Christophorus</h3>
          <p class="mt-3 text-base text-gray-600 font-body">Eine Tour auf den Spuren der Weinkultur und regionaler Legenden – für Genießer und Entdecker.</p>
        </div>
        <div class="flex justify-center items-end absolute bottom-0 left-0 w-full h-full ">
          <a href="/tours" class="inline-flex items-center px-8 py-2 translate-y-[50%]
            bg-gradient-to-r from-stone-200/80 via-stone-200 to-stone-200/70 text-stone-50
             hover:from-amber-600 hover:to-orange-600
             group-hover:from-amber-600 group-hover:to-orange-600
              font-semibold text-lg rounded-full shadow-lg
           transform hover:scale-105 transition-all duration-300">
            Zur Tour
            </a>
        </div>
        <div class="absolute top-3 right-3 bg-stone-200/80 backdrop-blur-sm text-accent2-brick group-hover:bg-gray-900/70 group-hover:text-stone-100 font-semibold text-sm py-1 px-3 rounded-full shadow-sm">
          Frühling-Herbst 
        </div>
      </div>

      <!-- Tour Card 3 -->
      <div class="group relative bg-white rounded-2xl shadow-xl hover:shadow-2xl transition-all duration-300 transform hover:-translate-y-1">
        <div class="absolute inset-0 opacity-0 group-hover:opacity-100 rounded-t-2xl transition-opacity duration-300" style={{
          background: "url(https://www.toptal.com/designers/subtlepatterns/uploads/seamless_paper_texture.png)",
          backgroundSize: "45%",
          backgroundRepeat: "repeat",
          mixBlendMode: "difference",
        }}
        >
        </div>
        <div class="relative w-full h-72 rounded-t-2xl overflow-hidden">
          <img src="/mj-GlühweinV1.png" alt="Glühwein" class="w-full h-full object-cover object-[50%_35%] group-hover:scale-105 transition-transform duration-300">
          <div class="absolute inset-0 bg-gradient-to-t from-black/50 group-hover:from-black/70 to-transparent rounded-t-2xl"></div>
        </div>
        <div class="p-6">
          <h3 class="text-2xl font-bold font-bonanova text-text">Glühwein - Geheimnisvolles Gimmeldingen</h3>
          <p class="mt-3 text-base text-gray-600 font-body">Wärmende Wintertour mit Glühwein, Geschichten und Pfälzer Herzlichkeit in der kalten Jahreszeit.</p>
        </div>
        <div class="flex justify-center items-end absolute bottom-0 left-0 w-full h-full ">
          <a href="/tours" class="inline-flex items-center px-8 py-2 translate-y-[50%]
            bg-gradient-to-r from-stone-200/80 via-stone-200 to-stone-200/70 text-stone-50
             hover:from-amber-600 hover:to-orange-600
             group-hover:from-amber-600 group-hover:to-orange-600
              font-semibold text-lg rounded-full shadow-lg
           transform hover:scale-105 transition-all duration-300">
            Zur Tour
            </a>
        </div>
        <div class="absolute top-3 right-3 bg-stone-200/80 backdrop-blur-sm text-accent2-brick group-hover:bg-gray-900/70 group-hover:text-stone-100 font-semibold text-sm py-1 px-3 rounded-full shadow-sm">
          Winter 
        </div>
      </div>
    </div>
  </div>
  <div class="text-center w-full h-full relative z-10 mt-44">
      <h2 class="text-base font-semibold text-accent1 uppercase tracking-wider font-body">historische Orte & erlesener Wein </h2>
      <h2 class="mt-2 text-4xl font-extrabold font-bonanova  sm:text-5xl
      bg-gray-900/90 text-transparent bg-clip-text">
      ✒︎ Neugierig geworden? <br/> Hier ist was sie erwartet. 
    </h2>
    <p class="mt-4 max-w-2xl mx-auto text-xl text-gray-500 font-body">
      Jede Tour ist ein einzigartiges Erlebnis, das die Schönheit der Region, ihre Geschichte und natürlich ihre exzellenten Weine in den Mittelpunkt stellt.
    </p>
    </div>

  <!-- <div class="flex justify-center relative  w-full h-fit min-h-[50px] z-10 my-12 ">
  <a href="/tours" class="inline-flex items-center px-8 py-4 
  bg-gradient-to-r from-amber-600 to-orange-600 text-white font-semibold text-lg rounded-full shadow-lg
  hover:from-amber-700 hover:to-orange-700 transform hover:scale-105 transition-all duration-300">
  Zu den Touren
  <svg class="ml-2 w-5 h-5" fill="none" stroke="currentColor" viewBox="3 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
  </svg>
  </a>
</div> -->
</section> 